.container{
    background-color: lavender;
    border: 1px grey solid;
    width: fit-content;

}

.row{
    justify-content: center;
}
hr{
    width: 0px;
    height: 300px;
    background: none;
    border-right: 1px dashed grey;
}